html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: gotFont;
    src: url(./images/fontGoT.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(./images/fontMontSerrat.otf);
}

@font-face {
    font-family: montserratLight;
    src: url(./images/MontserratAlternates-Light.otf);
}

*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
} 

*::before, *::after {
    box-sizing: border-box;
}

.headerImg {
    background-image: url(https://www.itl.cat/pngfile/big/2-24968_game-of-thrones-dragon-backgrounds-game-of-thrones.jpg);
    height: 88vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    padding: 15px;
}  

.headerImg .title {
    color: #FFFFFF;
    text-align: center;
    margin-top: 15%;
    line-height: 65px;
    font-weight: bolder;
    font-size: 40px;
}

.header {
    transition: 0.50s;
    width: 98.5%;
}

.header h1 {
    font-weight: bolder;
    text-align: center;
    font-family: gotFont !important;
    text-decoration: underline;
    color: #FCFEF0;
}

.header ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    font-size: small;
    color: #FCFEF0;
}

.header li {
    font-family: gotFont !important;
    cursor: pointer;
    transition: 0.5s;
}

.header li a {
    font-family: gotFont !important;
    text-decoration: none;
    color: #FCFEF0;
}

.header li:hover {
    font-weight: bolder;
    font-size: medium;
}

.fixedHeader {
    position: fixed;
    background-color: #242633;
    height: 90px;
    width: 98%;
    padding: 15px;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

.current {
    font-weight: bolder;
    font-size: medium;
}

.welcomeTitle {
    cursor: pointer;
    margin-top: -2%;
    color: #FCFEF0;
}

.buttonLogout {
    cursor: pointer;
    margin-left: 94%;
    margin-top: -6%;
    color: #FCFEF0;
    text-decoration: underline;
}

.container {
    --hue: var(--hue-neutral);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10141B;
}

.quizContainer {
    width: 600px;
    height: 400px;
    max-width: 80%;
    background-color: #e2ded7;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quizPrimeiraParte {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#quizPrimeiraParte h1 {
    text-align: center;
}

.flexColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: -10%;
}

.flexColumn button {
    padding: 15px;
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242633;
    color: #FCFEF0;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

#quizSegundaParte {
    width: 100%;
    height: 100%;
}

.flexColumn button:hover {
    background-color: #FCFEF0;
    color: #242633;
    height: 52px;
    width: 152px;
}

.flexColumn2 {
    width: 100%;
    height: 100%;
}

#hud {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1%;
    margin-bottom: 3%;
}

.hudItem {
    margin-top: -2%;
    margin-bottom: 1%;
}

#questionsContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.choiceContainer {
    width: 60%;
    height: 3.5rem;
    border-radius: 4px;
    background-color: rgb(14, 61, 163);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choiceContainer:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1,4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms; 
}

.choiceText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.correct {
    background: linear-gradient(32deg, rgb(8, 165, 27) 0%, rgb(31, 170, 82) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

#progressText {
    text-align: center;
}

#progressBar {
    width: 15rem;
    height: 1rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 0.5rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background-color: rgb(11, 223, 36);
    width: 0%;
}

.pontContainer {
    height: 100%;
    width: 100%;
    display: none;
}

.pontuacoes {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.quizFimContainer {
    width: 100%;
    height: 100%;
    display: none;
}

.quizFim {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.quizFim h1 {
    text-decoration: underline;
}

.quizFim .levelText {
    text-align: center;
}

.backToQuiz {
    padding: 15px;
    height: 60px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242633;
    color: #FCFEF0;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.backToQuiz:hover {
    background-color: #FCFEF0;
    color: #242633;
    height: 62px;
    width: 162px;
}








